.basic-container {
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: center;
  width: 800px;
  margin-top: 10px;
}

.scoreboard {
  display: flex;
  flex-direction: column;
  width: 800px;
  align-items: center;
  justify-content: center;
}

.scoreboard-title {
  margin: 0;
}

.totals-box {
  display: grid;
  grid-template-rows: repeat(6, 20px);
  gap: 3px 50px;
  grid-auto-flow: column;
  text-align: left;
  border: 1px solid rgb(0, 77, 8);
  border-radius: 10px;
  box-shadow: 2px 1px 2px 1px rgba(0, 37, 4, 0.7);
  width: fit-content;
  min-width: 300px;
  height: 160px;
  padding: 10px 40px;
}

.st-player {
  font-weight: 600;
  font-size: 1.2em;
}

.st-score {
  float: right;
  margin-left: 5px;
  color: rgb(16, 133, 12);
  font-weight: 500;
  font-size: 1.1em;
}

.player-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px 30px;
  list-style-type: none;
  padding: 0;
}

.player-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.2em;
  width: 160px;
  height: 110px;
  border-radius: 10px;
  padding: 10px 0;
  border: 1px solid rgb(0, 37, 4);
}

.bttn-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 4px;
  width: 144px;
}

.basic-bttn-minus {
  border-radius: 5px;
  background-color: rgb(255, 118, 118);
  width: 30px;
}

.basic-bttn-plus {
  border-radius: 5px;
  background-color: rgb(118, 255, 141);
  width: 30px;
}

.player-score {
  display:inline;
}

.up {
  margin-bottom: 20px;
}

.down {
  margin-top: 20px;
}