.basic-container {
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: center;
  width: 800px;
  margin-top: 10px;
}

.scoreboard {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.scoreboard-title {
  margin: 0;
}

.totals-box {
  display: grid;
  grid-template-rows: repeat(6, 20px);
  gap: 6px 50px;
  grid-auto-flow: column;
  text-align: left;
  border: 1px solid rgba(0, 37, 4, 1);
  border-radius: 10px;
  box-shadow: 2px 1px 2px 1px rgba(0, 37, 4, 0.7);
  width: 600px;
  min-height: 170px;
  padding: 10px 20px 10px 40px;
  overflow: auto;
  font-size: 1.1em;
  line-height: 20px;
}

.st-player {
  min-width: 240px;
  font-weight: 600;
  font-size: 1.2em;
}

.st-score {
  float: right;
  margin-left: 5px;
  color: rgb(0, 65, 6);
  font-weight: 600;
  font-size: 1.1em;
}

.player-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px 0;
  list-style-type: none;
  padding: 0;
  justify-items: center;
}

.player-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-width: 210px;
  height: 160px;
  border-radius: 10px;
  padding: 10px 0;
  border: 1px solid rgb(0, 37, 4);
}

.player-name {
  font-size: 1.2em;
  font-weight: 600;
}

.player-scoreBox{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.del-container {
  display: inline-block;
  position: relative;
  top: -80px;
  left: 70px;
  width: 0px;
  height: 0px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: none;
}

.spinner {
  position: absolute;
  height: 4px;
  width: 20px;
  background-color: red;
}

.top {
  position: absolute;
  transition: all 0.8s;
  transform: rotate(45deg);
}

.bot {
  position: absolute;
  transition: all 0.8s;
  transform: rotate(-45deg);
}

.bttn-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 4px;
  width: 190px;
  justify-items: center;
}

.basic-bttn-minus {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: rgb(253, 78, 78);
  width: 40px;
}

.basic-bttn-minus:hover {
  color: rgb(255, 255, 255);
  border-radius: 5px;
  background-color: rgb(153, 0, 0);
}

.basic-bttn-plus {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: rgb(78, 248, 72);
  width: 40px;
}

.basic-bttn-plus:hover {
  color: rgb(255, 255, 255);
  border-radius: 5px;
  background-color: rgb(4, 105, 0);
}

.up {
  margin-bottom: 20px;
}

.down {
  margin-top: 20px;
}

@media all and (max-width: 800px) {
  .basic-container {
    width: 100%;
  }

  .player-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media all and (max-width: 700px) {
  .player-list {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px 0;
  }

  .totals-box {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 350px;
  }
}

@media all and (max-width: 470px) {
  .scoreboard {
    margin-top: 10px;
  }

  .player-list {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }

  .player-card {
    font-size: 1.3em;
    width: 250px;
  }

  .bttn-container {
    width: 200px;
  }

  .basic-bttn-minus, .basic-bttn-plus {
    font-size: 0.8em;
  }

  .totals-box {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 300px;
  }

  .st-player {
    min-width: 220px;
    font-weight: 600;
    font-size: 1em; 
  }
}
