.basic-container {
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: center;
  width: 800px;
  margin-top: 10px;
}

.scoreboard {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.scoreboard-title {
  margin: 0;
}

.totals-box {
  display: grid;
  grid-template-rows: repeat(6, 20px);
  gap: 6px 50px;
  grid-auto-flow: column;
  text-align: left;
  border: 1px solid rgba(0, 37, 4, 1);
  border-radius: 10px;
  box-shadow: 2px 1px 2px 1px rgba(0, 37, 4, 0.7);
  width: 400px;
  min-height: 170px;
  padding: 10px 0 10px 40px;
  overflow: auto;
  font-size: 1.1em;
  line-height: 20px;
}

.st-player {
  width: 150px;
  font-weight: 600;
  font-size: 1.2em; 
}

.st-score {
  float: right;
  margin-left: 5px;
  color: rgb(0, 65, 6);
  font-weight: 600;
  font-size: 1.1em;
}

.player-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px 30px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  justify-items: center;
}

.player-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.2em;
  width: 180px;
  height: 110px;
  border-radius: 10px;
  padding: 10px 0;
  border: 1px solid rgb(0, 37, 4);
}

.player-name {
  font-size: 1em;
  font-weight: 600;
}

.bttn-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 4px;
  width: 144px;
}

.basic-bttn-minus {
  border-radius: 5px;
  background-color: rgb(253, 78, 78);
  width: 30px;
}

.basic-bttn-plus {
  border-radius: 5px;
  background-color: rgb(78, 248, 72);
  width: 30px;
}

.up {
  margin-bottom: 20px;
}

.down {
  margin-top: 20px;
}

@media all and (max-width: 800px) {
  .basic-container {
    width: 100%;
  }

  .player-list {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3% 0;
  }
}

@media all and (max-width: 600px) {
  .player-list {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3% 1%;
  }
}

@media all and (max-width: 400px) {
  .scoreboard {
    margin-top: 10px;
  }

  .player-list {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }

  .player-card {
    font-size: 1.3em;
    width: 250px;
  }

  .bttn-container {
    width: 200px;
  }

  .basic-bttn-minus, .basic-bttn-plus {
    width: 38px;
    height: 28px;
    padding: 3px;
    font-size: 0.8em;
  }

  .totals-box {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 300px;
  }
}
