.nameInput-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60px;
}

.input-inner-box {
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: center;
}

.add-players-title {
  margin: 0;
}

#nameinput {
  padding: 5px;
  margin: 0 10px;
  width: 180px;
}

.duplicate-name{
  color: red;
  font-size: 1.1em;
  font-weight: bold;
  height: 15px;
  margin-top: 5px;
}

.name-sub {
  height: 30px;
  width: 65px;
  background-color: rgb(0, 126, 13);
  border: 1px solid black;
  color: white;
  font-weight: 500;
  font-size: 0.9em;
  border-radius: 5px;
}

.name-sub:hover {
  background-color: rgb(0, 65, 6);
  color: white;
}


@media all and (max-width: 600px) {
  .add-players-title {
    font-size: 1.3em;
    margin-bottom: 10px;
  }

  .input-inner-box {
    flex-direction: column;
  }
}

@media all and (max-width: 320px) {
  .input-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .name-sub {
    margin: 10px 0;
  }
}