.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  text-align: center;
  width: 800px;
  min-height: 500px;
  padding: 20px;
  margin-bottom: 100px;
  opacity: 0;
  animation: appload 2s ease 2.6s forwards;
}

@keyframes appload {
  0%   {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.gameselect-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.bttn-controls-box { 
  display: flex;
  flex-direction: row;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}

.title-1 {
  margin: 15px 10px 15px 0;
}

#games {
  padding: 5px;
  min-width: 130px;
  text-align: center;
}

.suite-symbols {
  width: 15px;
  align-self: center;
  justify-self: center;
  margin: 0 2px;
}

.rules-bttn-tog {
  width: 250px;
  height: 40px;
  background-color: rgb(0, 65, 6);
  color: rgb(255, 255, 255);
  font-size: 1.4em;
  font-weight: 500;
}

.rules-bttn-tog:hover {
  background-color: rgb(94, 94, 94);
}

@media all and (max-width: 800px) {
  .app-container {
    width: 100%;
    padding: 5px;
  }
}

@media all and (max-width: 600px) {
  .bttn-controls-box { 
    margin-top: 24px;
  }
}

@media all and (max-width: 400px) {
  .gameselect-box {
    flex-direction: column;
    margin-bottom: 15px;
  }

  .title-1 {
    margin: 10px 0 15px;
  }  
}

@media all and (max-width: 320px) {
  .gameselect-box {
    flex-direction: column;
    margin-bottom: 15px;
  }

  .bttn-controls-box { 
    margin-top: 34px;
  }
}