.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  text-align: center;
  width: 800px;
  min-height: 500px;
  margin-top: 10px;
  padding: 20px;
}

.gameselect-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.title-1 {
  margin-right: 10px;
}

#games {
  padding: 5px;
  min-width: 130px;
  text-align: center;
}
