
.table-headings {
  padding: 5px 0;
  font-size: 1em;
  font-weight: 700;
  color: rgb(0, 65, 6);
  text-decoration:underline;
  text-align: center;
}

.game-details-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}

.trump-box, .value-box {
  width: 320px;
  border: 2px solid rgb(0, 65, 6);
  text-align: left;
  padding: 5px 0 10px 10px; 
  border-radius: 8px;
  counter-reset: count;
  margin: 5px;
  line-height: 1.2em;
}

.point-box  {
  width: 320px;
  border: 2px solid rgb(0, 65, 6);
  text-align: left;
  padding: 5px; 
  border-radius: 8px;
  counter-reset: count;
  margin: 5px;
  line-height: 1.3em;
}

ol.DK-ol {
  padding-left: 20px;
}

.symbol-box {
  display: flex;
  flex-direction: row;
  text-align: right;
  justify-content:space-between;
  align-items: center;
  width: 38px;
}

.symbol-box2 {
  display: flex;
  flex-direction: row;
  text-align: right;
  justify-content:space-between;
  align-items: center;
  width: 78px;
}

td + td {
  padding-left: 10px;
  text-align: left;
  justify-content: right;
  align-items: right;
}

.card-values {
  display: grid;
  grid-template-rows: repeat(3, 20px);
  gap: 5px 30px;
  grid-auto-flow: column;
  font-size: 1.1em;
  line-height: 20px;
  text-align: left;
  counter-reset: count; 
  align-items: center;
  justify-items: center;
  padding: 5px ;
}

@media all and (max-width: 800px) {
  .dop-container{
    width: 300px;
  }

  .game-details-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }
}