.dop-container {
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: center;
  width: 800px;
}

.table-headings {
  margin: 0 0 5px;
  padding: 0;
  font-size: 1em;
  color: rgb(0, 65, 6);
  text-decoration: underline;
  text-align: center;
}

.game-details-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}

.trump-box, .value-box {
  width: 300px;
  border: 2px solid rgb(0, 65, 6);
  text-align: left;
  padding: 5px; 
  border-radius: 8px;
  counter-reset: count;
  margin: 5px;
  line-height: 1.2em;
}

.point-box  {
  width: 300px;
  border: 2px solid rgb(0, 65, 6);
  text-align: left;
  padding: 5px; 
  border-radius: 8px;
  counter-reset: count;
  margin: 5px;
  line-height: 1.3em;
}

ol.DK-ol {
  padding-left: 20px;
}

th {
  text-align: center;
}

td + td {
  display: flex;
  align-content: center;
  justify-content: right;
}

tbody > tr::before {
  counter-increment: count;
  content: counter(count) ".";
}

.card-values {
  display: grid;
  grid-template-rows: repeat(3, 20px);
  gap: 5px 30px;
  grid-auto-flow: column;
  font-size: 1.1em;
  line-height: 20px;
  text-align: left;
  counter-reset: count; 
  align-items: center;
  justify-items: center;
}

@media all and (max-width: 800px) {
  .dop-container{
    width: 300px;
  }

  .game-details-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }
}